
/* Footer SECTION */

.footWrapper {
    text-align:center;
    padding:25px 0;
    color:#e1af64;
    background-color:#0d1014;
}
.footWrapper a,
.footWrapper p {
    font-family: 'Alegreya Sans', sans-serif;
}
.footWrapper a {
    text-decoration:none;
    color:#ffc56f;
}
.footWrapper a:hover {
    color:#ffffff;
}

