
/* Footer SECTION */
.footWrapper {
    text-align:center;
    padding:25px 0;
    color:rgba(225, 175, 100, 1);
    background-color:#0d1014;
}
.footWrapper a,
.footWrapper p {
    font-family: 'Alegreya Sans', sans-serif;
}
.footWrapper a {
    text-decoration:none;
    color:rgb(255, 197, 111);
}
.footWrapper a:hover {
    color:white;
}

