a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: 'Alegreya SC', serif;
  font-size: 10.0rem;
  font-weight: 900;
}

button {
  font-size: 7.0rem;
}

h2 {
  font-size: 10.0rem;
  color: #a74b00;
}
.wrapper2 {
  overflow-x:hidden;
}

/* HEADER SECTION */
.topWrapper {
  text-align: center;
  background-color: #000000;
  height: 35px;
}

.wrapper, .wrapper2 {
  background-color: #0c0c0c;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

/* PARALLAX GROUP */
.parallaxWrapper {
  position: relative;
  height: 100vh;
  width: 99vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallaxWrapper .logo {
  background: url("../assets/parallaxLogo.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg1 {
  background: url("../assets/parallaxbg.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg2 {
  background: url("../assets/parallaxGrey.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg3 {
  background: url("../assets/parallaxDarkGrey.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg4 {
  background: url("../assets/parallaxRay.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg5 {
  background: url("../assets/parallaxBarrel.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallaxWrapper .bg6 {
  background: url("../assets/parallaxBlack.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* Unity SECTION */
.unityWrapper img {
  width: 10%;
  padding: 350px 0;
}

.unityWrapper {
  background-color: #000000;
  text-align: center;
}

/* Tablet RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .unityWrapper img {
    width: 30%;
  }
}

/* Phone RESPONSIVE */
/* Footer SECTION */
.footWrapper {
  text-align: center;
  padding: 25px 0;
  color: #e1af64;
  background-color: #0d1014;
}

.footWrapper a,
.footWrapper p {
  font-family: 'Alegreya Sans', sans-serif;
}

.footWrapper a {
  text-decoration: none;
  color: #ffc56f;
}

.footWrapper a:hover {
  color: #ffffff;
}

/* INTRO SECTION */
.introWrapper {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  color: #ad854d;
}

.introWrapper h3 {
  font-size: 3.0rem;
  color: #ffffff;
  font-family: 'Alegreya SC', serif;
  margin: 50px 0;
}

.introWrapper p {
  font-size: 1.8rem;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 25px;
}

.introWrapper p:hover {
  color: #a74b00;
}

.introColumn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 100px;
}

.introColumn span {
  color: #ffffff;
  font-weight: 700;
}

.introWrapper button {
  margin-top: 50px;
}

/* MAIN SECTION  */
.mainWrapper p {
  font-size: 7.0rem;
  color: #ad854d;
}

.mainWrapper {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: 0 auto;
  padding: 250px 0 50px 0;
}

.countWrapper {
  margin: auto 0;
}

.countWrapper h2:hover {
  color: #ffffff;
}

.countWrapper p {
  font-family: 'Alegreya SC', serif;
  margin-top: 30px;
}

.gollumWrapper {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-left: 30%;
}

/* TEXT Change in COUNT SECTION */
.logWrapper {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Alegreya SC', serif;
  font-size: 2.0rem;
}

/* Button SECTION */
.buttonWrapper {
  text-align: center;
  padding: 50px 0 100px 0;
}

.startToggleOff {
  display: none;
}

.restartGame {
  display: none;
}

.playerDecrease {
  display: none;
}

.playerDecreaseM {
  display: none;
}

.buttonWrapper button,
.introWrapper button {
  background-color: #121212;
  border: 2px solid #ffffff;
  color: #e1af64;
  font-family: 'Alegreya SC', serif;
}

.startToggle {
  -webkit-clip-path: polygon(0% 20px, 20px 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 20px, 20px 0%, 100% 0, 100% 100%, 0% 100%);
}

.startToggle:before {
  content: '';
  display: block;
  border: 2px solid #ffffff;
  width: 15%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -20px;
}

.buttonWrapper button:hover,
.introWrapper button:hover {
  color: #a74b00;
  -webkit-animation: buttonFlicker 1s;
          animation: buttonFlicker 1s;
}

@-webkit-keyframes buttonFlicker {
  0% {
    color: #ff0000;
  }
  50% {
    color: #ffc0cb;
  }
  100% {
    color: #ff0000;
  }
}

@keyframes buttonFlicker {
  0% {
    color: #ff0000;
  }
  50% {
    color: #ffc0cb;
  }
  100% {
    color: #ff0000;
  }
}

/* Tablet RESPONSIVE */
@media only screen and (max-width: 1000px) {
  .introWrapper {
    width: 80%;
  }
  .mainWrapper {
    width: 80%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gollumWrapper {
    margin: 0 auto;
    padding-bottom: 75px;
    padding-left: 50px;
  }
  .mainWrapper p {
    font-size: 4.0rem;
    margin: 0 10px;
  }
  .mainWrapper h2 {
    font-size: 4.0rem;
  }
  .buttonWrapper button,
  .introWrapper button {
    font-size: 4.0rem;
  }
  .introColumn {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .introColumn p {
    line-height: 20px;
  }
}

/* CSS ART SECTION */
.pixelGollum {
  -webkit-box-shadow: 80px 10px 0 0 #6f5e48, 90px 10px 0 0 #ffe6bb, 100px 10px 0 0 #6f5e48, 
 110px 10px 0 0 #ffe6bb, 120px 10px 0 0 #ffe6bb, 130px 10px 0 0 #6f5e48, 
 70px 20px 0 0 #6f5e48, 80px 20px 0 0 #6f5e48, 90px 20px 0 0 #ffe6bb, 100px 20px 0 0 #6f5e48, 110px 20px 0 0 #ffe6bb, 120px 20px 0 0 #ffe6bb, 130px 20px 0 0 #6f5e48, 140px 20px 0 0 #6f5e48, 
 70px 30px 0 0 #ffe6bb, 80px 30px 0 0 #6f5e48, 90px 30px 0 0 #ffe6bb, 100px 30px 0 0 #ffe6bb, 110px 30px 0 0 #ffe6bb, 120px 30px 0 0 #ffe6bb, 130px 30px 0 0 #ffe6bb, 140px 30px 0 0 #ffe6bb,
 70px 40px 0 0 #ffe6bb, 80px 40px 0 0 #6f5e48, 90px 40px 0 0 #00bcd4, 100px 40px 0 0 #ffe6bb, 110px 40px 0 0  #ffe6bb, 120px 40px 0 0 #00bcd4, 130px 40px 0 0 #ffe6bb, 140px 40px 0 0 #6f5e48,
 80px 50px 0 0 #6f5e48, 90px 50px 0 0 #ffe6bb, 100px 50px 0 0 #ffe6bb, 110px 50px 0 0 #ffe6bb, 120px 50px 0 0 #ffe6bb, 130px 50px 0 0 #ffe6bb, 140px 50px 0 0 #6f5e48,
 70px 60px 0 0 #ffe6bb, 80px 60px 0 0 #6f5e48, 90px 60px 0 0 #ffe6bb, 100px 60px 0 0 #ffe6bb, 110px 60px 0 0 #ffe6bb, 140px 60px 0 0 #6f5e48,
 60px 70px 0 0 #ffe6bb, 70px 70px 0 0 #ecce96, 80px 70px 0 0 #ffe6bb, 90px 70px 0 0 #ffe6bb, 100px 70px 0 0 #ecce96,
 40px 80px 0 0 #ffe6bb, 50px 80px 0 0 #ffe6bb, 60px 80px 0 0 #ffe6bb, 70px 80px 0 0 #ecce96, 90px 80px 0 0 #ffe6bb, 100px 80px 0 0 #ecce96,
 30px 90px 0 0 #4e2b1e, 40px 90px 0 0 #4e2b1e, 50px 90px 0 0 #ffe6bb, 60px 90px 0 0 #ffe6bb, 70px 90px 0 0 #ecce96, 110px 90px 0 0 #ecce96, 120px 90px 0 0 #ecce96, 130px 90px 0 0 #ecce96, 140px 90px 0 0 #ecce96, 150px 90px 0 0 #ecce96,
 20px 100px 0 0 #4e2b1e, 30px 100px 0 0 #ffe6bb, 40px 100px 0 0 #4e2b1e, 50px 100px 0 0 #4e2b1e, 60px 100px 0 0 #4e2b1e, 80px 100px 0 0 #ecce96,
 30px 110px 0 0 #ffe6bb, 40px 110px 0 0 #4e2b1e, 60px 110px 0 0 #ffe6bb, 80px 110px 0 0 #ecce96,
 10px 120px 0 0 #ffe6bb, 20px 120px 0 0 #ffe6bb, 30px 120px 0 0 #ffe6bb, 50px 120px 0 0 #ffe6bb, 60px 120px 0 0 #ffe6bb, 90px 120px 0 0 #ecce96,
 10px 130px 0 0 #ffe6bb, 50px 130px 0 0 #ffe6bb, 90px 130px 0 0 #ecce96,
 10px 140px 0 0 #ffe6bb, 20px 140px 0 0 #ffe6bb, 50px 140px 0 0 #ffe6bb, 60px 140px 0 0 #ffe6bb, 100px 140px 0 0 #ecce96;
          box-shadow: 80px 10px 0 0 #6f5e48, 90px 10px 0 0 #ffe6bb, 100px 10px 0 0 #6f5e48, 
 110px 10px 0 0 #ffe6bb, 120px 10px 0 0 #ffe6bb, 130px 10px 0 0 #6f5e48, 
 70px 20px 0 0 #6f5e48, 80px 20px 0 0 #6f5e48, 90px 20px 0 0 #ffe6bb, 100px 20px 0 0 #6f5e48, 110px 20px 0 0 #ffe6bb, 120px 20px 0 0 #ffe6bb, 130px 20px 0 0 #6f5e48, 140px 20px 0 0 #6f5e48, 
 70px 30px 0 0 #ffe6bb, 80px 30px 0 0 #6f5e48, 90px 30px 0 0 #ffe6bb, 100px 30px 0 0 #ffe6bb, 110px 30px 0 0 #ffe6bb, 120px 30px 0 0 #ffe6bb, 130px 30px 0 0 #ffe6bb, 140px 30px 0 0 #ffe6bb,
 70px 40px 0 0 #ffe6bb, 80px 40px 0 0 #6f5e48, 90px 40px 0 0 #00bcd4, 100px 40px 0 0 #ffe6bb, 110px 40px 0 0  #ffe6bb, 120px 40px 0 0 #00bcd4, 130px 40px 0 0 #ffe6bb, 140px 40px 0 0 #6f5e48,
 80px 50px 0 0 #6f5e48, 90px 50px 0 0 #ffe6bb, 100px 50px 0 0 #ffe6bb, 110px 50px 0 0 #ffe6bb, 120px 50px 0 0 #ffe6bb, 130px 50px 0 0 #ffe6bb, 140px 50px 0 0 #6f5e48,
 70px 60px 0 0 #ffe6bb, 80px 60px 0 0 #6f5e48, 90px 60px 0 0 #ffe6bb, 100px 60px 0 0 #ffe6bb, 110px 60px 0 0 #ffe6bb, 140px 60px 0 0 #6f5e48,
 60px 70px 0 0 #ffe6bb, 70px 70px 0 0 #ecce96, 80px 70px 0 0 #ffe6bb, 90px 70px 0 0 #ffe6bb, 100px 70px 0 0 #ecce96,
 40px 80px 0 0 #ffe6bb, 50px 80px 0 0 #ffe6bb, 60px 80px 0 0 #ffe6bb, 70px 80px 0 0 #ecce96, 90px 80px 0 0 #ffe6bb, 100px 80px 0 0 #ecce96,
 30px 90px 0 0 #4e2b1e, 40px 90px 0 0 #4e2b1e, 50px 90px 0 0 #ffe6bb, 60px 90px 0 0 #ffe6bb, 70px 90px 0 0 #ecce96, 110px 90px 0 0 #ecce96, 120px 90px 0 0 #ecce96, 130px 90px 0 0 #ecce96, 140px 90px 0 0 #ecce96, 150px 90px 0 0 #ecce96,
 20px 100px 0 0 #4e2b1e, 30px 100px 0 0 #ffe6bb, 40px 100px 0 0 #4e2b1e, 50px 100px 0 0 #4e2b1e, 60px 100px 0 0 #4e2b1e, 80px 100px 0 0 #ecce96,
 30px 110px 0 0 #ffe6bb, 40px 110px 0 0 #4e2b1e, 60px 110px 0 0 #ffe6bb, 80px 110px 0 0 #ecce96,
 10px 120px 0 0 #ffe6bb, 20px 120px 0 0 #ffe6bb, 30px 120px 0 0 #ffe6bb, 50px 120px 0 0 #ffe6bb, 60px 120px 0 0 #ffe6bb, 90px 120px 0 0 #ecce96,
 10px 130px 0 0 #ffe6bb, 50px 130px 0 0 #ffe6bb, 90px 130px 0 0 #ecce96,
 10px 140px 0 0 #ffe6bb, 20px 140px 0 0 #ffe6bb, 50px 140px 0 0 #ffe6bb, 60px 140px 0 0 #ffe6bb, 100px 140px 0 0 #ecce96;
  height: 10px;
  width: 10px;
  margin: 75px 0;
}

.pixelBubble {
  -webkit-box-shadow: 20px 10px 0 0 #000000, 30px 10px 0 0 #000000, 40px 10px 0 0 #000000, 50px 10px 0 0 #000000, 60px 10px 0 0 #000000, 70px 10px 0 0 #000000, 80px 10px 0 0 #000000, 90px 10px 0 0 #000000, 
 10px 20px 0 0 #000000, 20px 20px 0 0 #000000, 30px 20px 0 0 #000000, 40px 20px 0 0 #000000, 50px 20px 0 0 #ffc107, 60px 20px 0 0 #ffc107, 70px 20px 0 0 #000000, 80px 20px 0 0 #000000, 90px 20px 0 0 #000000, 100px 20px 0 0 #000000,
 10px 30px 0 0 #000000, 20px 30px 0 0 #000000, 30px 30px 0 0 #000000, 40px 30px 0 0 #ffc107, 50px 30px 0 0 #000000, 60px 30px 0 0 #000000, 70px 30px 0 0 #ffc107, 80px 30px 0 0 #000000, 90px 30px 0 0 #000000, 100px 30px 0 0 #000000,
 10px 40px 0 0 #000000, 20px 40px 0 0 #000000, 30px 40px 0 0 #000000, 40px 40px 0 0 #ffc107, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #ffc107, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000, 100px 40px 0 0 #000000,
 10px 50px 0 0 #000000, 20px 50px 0 0 #000000, 30px 50px 0 0 #000000, 40px 50px 0 0 #000000, 50px 50px 0 0 #ffc107, 60px 50px 0 0 #ffc107, 70px 50px 0 0 #000000, 80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
 20px 60px 0 0 #000000, 30px 60px 0 0 #000000, 40px 60px 0 0 #000000, 50px 60px 0 0 #000000, 60px 60px 0 0 #000000, 70px 60px 0 0 #000000, 80px 60px 0 0 #000000, 90px 60px 0 0 #000000,
 70px 70px 0 0 #000000, 80px 70px 0 0 #000000, 70px 80px 0 0 #000000;
          box-shadow: 20px 10px 0 0 #000000, 30px 10px 0 0 #000000, 40px 10px 0 0 #000000, 50px 10px 0 0 #000000, 60px 10px 0 0 #000000, 70px 10px 0 0 #000000, 80px 10px 0 0 #000000, 90px 10px 0 0 #000000, 
 10px 20px 0 0 #000000, 20px 20px 0 0 #000000, 30px 20px 0 0 #000000, 40px 20px 0 0 #000000, 50px 20px 0 0 #ffc107, 60px 20px 0 0 #ffc107, 70px 20px 0 0 #000000, 80px 20px 0 0 #000000, 90px 20px 0 0 #000000, 100px 20px 0 0 #000000,
 10px 30px 0 0 #000000, 20px 30px 0 0 #000000, 30px 30px 0 0 #000000, 40px 30px 0 0 #ffc107, 50px 30px 0 0 #000000, 60px 30px 0 0 #000000, 70px 30px 0 0 #ffc107, 80px 30px 0 0 #000000, 90px 30px 0 0 #000000, 100px 30px 0 0 #000000,
 10px 40px 0 0 #000000, 20px 40px 0 0 #000000, 30px 40px 0 0 #000000, 40px 40px 0 0 #ffc107, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #ffc107, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000, 100px 40px 0 0 #000000,
 10px 50px 0 0 #000000, 20px 50px 0 0 #000000, 30px 50px 0 0 #000000, 40px 50px 0 0 #000000, 50px 50px 0 0 #ffc107, 60px 50px 0 0 #ffc107, 70px 50px 0 0 #000000, 80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
 20px 60px 0 0 #000000, 30px 60px 0 0 #000000, 40px 60px 0 0 #000000, 50px 60px 0 0 #000000, 60px 60px 0 0 #000000, 70px 60px 0 0 #000000, 80px 60px 0 0 #000000, 90px 60px 0 0 #000000,
 70px 70px 0 0 #000000, 80px 70px 0 0 #000000, 70px 80px 0 0 #000000;
  height: 10px;
  width: 10px;
  height: 10px;
  width: 10px;
  margin: 0px 0px 25px 100px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pixelGlass {
  -webkit-box-shadow: 10px 10px 0 0 #000000, 110px 10px 0 0 #000000,
 20px 20px 0 0 #000000, 120px 20px 0 0 #000000,
 30px 30px 0 0 #000000, 40px 30px 0 0 #000000, 130px 30px 0 0 #000000,
 40px 40px 0 0 #000000, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #000000, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000, 100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #000000, 130px 40px 0 0 #000000, 140px 40px 0 0 #000000,
 40px 50px 0 0 #000000, 50px 50px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #000000, 100px 50px 0 0 #000000, 110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #ffffff, 140px 50px 0 0 #000000,
 50px 60px 0 0 #000000, 60px 60px 0 0 #ffffff, 70px 60px 0 0 #000000, 110px 60px 0 0 #000000, 120px 60px 0 0 #ffffff, 130px 60px 0 0 #000000;
          box-shadow: 10px 10px 0 0 #000000, 110px 10px 0 0 #000000,
 20px 20px 0 0 #000000, 120px 20px 0 0 #000000,
 30px 30px 0 0 #000000, 40px 30px 0 0 #000000, 130px 30px 0 0 #000000,
 40px 40px 0 0 #000000, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #000000, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000, 100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #000000, 130px 40px 0 0 #000000, 140px 40px 0 0 #000000,
 40px 50px 0 0 #000000, 50px 50px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #000000, 100px 50px 0 0 #000000, 110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #ffffff, 140px 50px 0 0 #000000,
 50px 60px 0 0 #000000, 60px 60px 0 0 #ffffff, 70px 60px 0 0 #000000, 110px 60px 0 0 #000000, 120px 60px 0 0 #ffffff, 130px 60px 0 0 #000000;
  height: 10px;
  width: 10px;
  -webkit-animation: pulseGlass 10s infinite, moveGlass 3s ease-in;
          animation: pulseGlass 10s infinite, moveGlass 3s ease-in;
  margin: 55px 0 0 38px;
  position: absolute;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  display: none;
}

@-webkit-keyframes pulseGlass {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulseGlass {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@-webkit-keyframes moveGlass {
  0% {
    -webkit-transform: translate(0, -1000px);
            transform: translate(0, -1000px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes moveGlass {
  0% {
    -webkit-transform: translate(0, -1000px);
            transform: translate(0, -1000px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.pixelSmoke {
  -webkit-box-shadow: 140px 10px 0 0 #ffcdd2,
 130px 20px 0 0 #ffcdd2,
 120px 30px 0 0 #ffcdd2,
 100px 40px 0 0 #ffcdd2, 120px 40px 0 0 #ffcdd2,
 110px 50px 0 0 #ffcdd2,
 10px 60px 0 0 #ff9800, 20px 60px 0 0 #ff9800, 30px 60px 0 0 #ff9800, 40px 60px 0 0 #ff9800, 50px 60px 0 0 #ff9800, 60px 60px 0 0 #ff9800, 70px 60px 0 0 #ff9800, 80px 60px 0 0 #ff9800, 90px 60px 0 0 #ff5722,
 10px 70px 0 0 #ff9800, 20px 70px 0 0 #ff9800, 30px 70px 0 0 #ff9800, 40px 70px 0 0 #ff9800, 50px 70px 0 0 #ff9800, 60px 70px 0 0 #ff9800, 70px 70px 0 0 #ff9800, 80px 70px 0 0 #ff9800, 90px 70px 0 0 #795548;
          box-shadow: 140px 10px 0 0 #ffcdd2,
 130px 20px 0 0 #ffcdd2,
 120px 30px 0 0 #ffcdd2,
 100px 40px 0 0 #ffcdd2, 120px 40px 0 0 #ffcdd2,
 110px 50px 0 0 #ffcdd2,
 10px 60px 0 0 #ff9800, 20px 60px 0 0 #ff9800, 30px 60px 0 0 #ff9800, 40px 60px 0 0 #ff9800, 50px 60px 0 0 #ff9800, 60px 60px 0 0 #ff9800, 70px 60px 0 0 #ff9800, 80px 60px 0 0 #ff9800, 90px 60px 0 0 #ff5722,
 10px 70px 0 0 #ff9800, 20px 70px 0 0 #ff9800, 30px 70px 0 0 #ff9800, 40px 70px 0 0 #ff9800, 50px 70px 0 0 #ff9800, 60px 70px 0 0 #ff9800, 70px 70px 0 0 #ff9800, 80px 70px 0 0 #ff9800, 90px 70px 0 0 #795548;
  height: 10px;
  width: 10px;
  position: absolute;
  margin: 100px 0 0 150px;
  -webkit-animation: pulseSmoke 10s infinite, moveSmoke 3s ease-in;
          animation: pulseSmoke 10s infinite, moveSmoke 3s ease-in;
  display: none;
}

@-webkit-keyframes pulseSmoke {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes pulseSmoke {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes moveSmoke {
  0% {
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes moveSmoke {
  0% {
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media only screen and (max-width: 1200px) {
  .pixelGollum {
    -webkit-box-shadow: 80px 10px 0 0 #6f5e48, 90px 10px 0 0 #ffe6bb, 100px 10px 0 0 #6f5e48, 110px 10px 0 0 #ffe6bb, 120px 10px 0 0 #ffe6bb, 130px 10px 0 0 #6f5e48, 70px 20px 0 0 #6f5e48, 80px 20px 0 0 #6f5e48, 90px 20px 0 0 #ffe6bb, 100px 20px 0 0 #6f5e48, 110px 20px 0 0 #ffe6bb, 120px 20px 0 0 #ffe6bb, 130px 20px 0 0 #6f5e48, 140px 20px 0 0 #6f5e48, 70px 30px 0 0 #ffe6bb, 80px 30px 0 0 #6f5e48, 90px 30px 0 0 #ffe6bb, 100px 30px 0 0 #ffe6bb, 110px 30px 0 0 #ffe6bb, 120px 30px 0 0 #ffe6bb, 130px 30px 0 0 #ffe6bb, 140px 30px 0 0 #ffe6bb, 70px 40px 0 0 #ffe6bb, 80px 40px 0 0 #6f5e48, 90px 40px 0 0 #00bcd4, 100px 40px 0 0 #ffe6bb, 110px 40px 0 0 #ffe6bb, 120px 40px 0 0 #00bcd4, 130px 40px 0 0 #ffe6bb, 140px 40px 0 0 #6f5e48, 80px 50px 0 0 #6f5e48, 90px 50px 0 0 #ffe6bb, 100px 50px 0 0 #ffe6bb, 110px 50px 0 0 #ffe6bb, 120px 50px 0 0 #ffe6bb, 130px 50px 0 0 #ffe6bb, 140px 50px 0 0 #6f5e48, 80px 60px 0 0 #6f5e48, 90px 60px 0 0 #ffe6bb, 100px 60px 0 0 #ffe6bb, 110px 60px 0 0 #ffe6bb, 140px 60px 0 0 #6f5e48;
            box-shadow: 80px 10px 0 0 #6f5e48, 90px 10px 0 0 #ffe6bb, 100px 10px 0 0 #6f5e48, 110px 10px 0 0 #ffe6bb, 120px 10px 0 0 #ffe6bb, 130px 10px 0 0 #6f5e48, 70px 20px 0 0 #6f5e48, 80px 20px 0 0 #6f5e48, 90px 20px 0 0 #ffe6bb, 100px 20px 0 0 #6f5e48, 110px 20px 0 0 #ffe6bb, 120px 20px 0 0 #ffe6bb, 130px 20px 0 0 #6f5e48, 140px 20px 0 0 #6f5e48, 70px 30px 0 0 #ffe6bb, 80px 30px 0 0 #6f5e48, 90px 30px 0 0 #ffe6bb, 100px 30px 0 0 #ffe6bb, 110px 30px 0 0 #ffe6bb, 120px 30px 0 0 #ffe6bb, 130px 30px 0 0 #ffe6bb, 140px 30px 0 0 #ffe6bb, 70px 40px 0 0 #ffe6bb, 80px 40px 0 0 #6f5e48, 90px 40px 0 0 #00bcd4, 100px 40px 0 0 #ffe6bb, 110px 40px 0 0 #ffe6bb, 120px 40px 0 0 #00bcd4, 130px 40px 0 0 #ffe6bb, 140px 40px 0 0 #6f5e48, 80px 50px 0 0 #6f5e48, 90px 50px 0 0 #ffe6bb, 100px 50px 0 0 #ffe6bb, 110px 50px 0 0 #ffe6bb, 120px 50px 0 0 #ffe6bb, 130px 50px 0 0 #ffe6bb, 140px 50px 0 0 #6f5e48, 80px 60px 0 0 #6f5e48, 90px 60px 0 0 #ffe6bb, 100px 60px 0 0 #ffe6bb, 110px 60px 0 0 #ffe6bb, 140px 60px 0 0 #6f5e48;
  }
  .gollumWrapper {
    -webkit-transform: scale(2);
            transform: scale(2);
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .gollumWrapper {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .gollumWrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .gollumWrapper {
    width: 50%;
    margin-left:-100px;
  }
}

@media only screen and (max-width: 450px) {
  .gollumWrapper {
    width: 50%;
    margin-left:-150px;
  }
}
